<%- include inc/header.ejs %>

<%- include inc/menu.ejs %>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div class="container panel">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Профиль</a>
                </li>
<!--                 <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li> -->
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Ваш профиль</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><%= data[0].m_fullname %></h4>
                            <p>
                                <%= data[0].m_title %>
                            </p>
                            <h4>Персональные данные</h4>
                            <p>
                                Пол: <%= data[0].m_gender %> <br>
                                Дата нанятия: <%= data[0].m_hiredate %> <br>
                                Дата рождения: <%= data[0].m_birthdate %> <br>
                                Корпоративная почта: <%= data[0].m_email %>

                            </p>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Последняя активность</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Фото профиля</h6>
            
        </div>
    </div>
</div>
</main>

<%- include inc/footer.ejs %>
