<%- include ../inc/header.ejs %>

<%- include ../inc/menu.ejs %>

<%- messages('../inc/messages.ejs', locals) %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-bottom: 40px;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Главная страница</a></li>
      <li class="breadcrumb-item"><a href="/policies">Полисы </a></li>
      <li class="breadcrumb-item"><a href="/insurance/goods">Недвижимость</a></li>
      <li class="breadcrumb-item"><a href="/insurance/goods/clients">Список клиентов по полису - Недвижимость</a></li>
      <li class="breadcrumb-item active" aria-current="page">Просмотр клиента - <%= data[0].client_fullname %></li>
    </ol>
  </nav>  
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= title %> &ndash; <%= data[0].client_fullname %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12">
            <table class="table table-user-information type-table">
              <tbody>
                <tr>
                  <td>ФИО клиента:</td>
                  <td><strong><%= data[0].client_fullname %></strong></td>
                </tr>
                <tr>
                  <td>Адрес клиента:</td>
                  <td><strong><%= data[0].client_address %></strong></td>
                </tr>
                <tr>
                  <td>Телефон клиента:</td>
                  <td><strong><%= data[0].client_phone %></strong></td>
                </tr>
                <tr>
                  <td>Почта клиента: </td>
                  <td><strong><%= data[0].client_email %></strong></td>
                </tr>
                <tr>
                  <td>Риски: </td>
                  <td><strong><%= data[0].risk_type %></strong></td>
                </tr>
                <tr>
                <tr>
                  <td>Объект поездки: </td>
                  <td><strong><%if(data[0].goods_type == 0){%> Квартира <%} else if (data[0].currency == 1){%> Частный дом <%}  %></strong></td>
                </tr>
                <tr>
                  <td>Сумма страхования: </td>
                  <td><strong><%= data[0].given_sum %></strong></td>
                </tr>
                <tr>
                  <td>Стоимость страхования:</td>
                  <td><strong><%= data[0].insurance_price %></strong></td>
                </tr>
                <tr>
                  <td>Способ оплаты:</td>
                  <td><strong><%= data[0].payment_type %></strong></td>
                </tr>
                <tr>
                  <td>Статус заявки:</td>
                  <td><strong><%if(data[0].status == 0){%> Новая заявка <%} else if (data[0].status == 1){%> В процессе <%} else if(data[0].status == 2){%> Завершен <%} %></strong></td>
                </tr>
                <tr>
                  <td>Менеджер:</td>
                  <td><%if(data[0].manager_id == 2) {%> - <%} else {%> <a target="_blank" href="/staff/show/<%= data[0].manager_id %>"><%= data[0].m_fullname %></a> <%} %></td>
                </tr>
              </tbody>
            </table>
            <a href="/insurance/goods/clients" class="btn btn-back">Обратно к списку </a>
            <a href="/insurance/goods/client/edit/<%=data[0].id%>" class="btn btn-edit">Редактировать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ../inc/footer.ejs %>
