<%- include ../inc/header.ejs %>

<%- include ../inc/menu.ejs %>


<%- messages('../inc/messages.ejs', locals) %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-bottom: 40px;">
          <div class="staff-header">
            <h2><%= title %></h2> 
            <a href="#" class="btn btn-add">Экспорт в EXCEL</a>
          </div>
          <form action="/staff/find" method="get">
            <input class="form-control form-control-dark" name="keyword" type="text" placeholder="Введите ФИО, должность, телефон ..." aria-label="Search">
          </form>
          <div class="table-responsive">
            <table class="table table-striped table-lg staff">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ФИО</th>
                  <th>Город</th>
                  <th>Телефон</th>
                  <th>Почта</th>
                  <th>Адрес</th>
                  <th>Тип страхования</th>
                  <!-- <th>Действия</th> -->
                </tr>
              </thead>
              <tbody>
                <% if(data.length){
                
                  for(var i = 0;i < data.length;i++) { %>

                  <tr>
                      <td><%=data[i].id%></td>
                      <td><%=data[i].client_fullname%></td>
                      <td><%=data[i].client_city%></td>
                      <td><%=data[i].client_phone%></td>
                      <td><%=data[i].client_email%></td>
                      <td><%=data[i].client_address%></td>
                      <td><%if(data[i].insurance_type == 1){%> КАСКО <%} else if (data[i].insurance_type == 2){%> Туризм <%} else if (data[i].insurance_type == 4){%> Недвижимость <%} else if (data[i].insurance_type == 5){%> Несчастный случай <%}  %></td>
                      <!-- <td>
                          <a href="/staff/show/<%=data[i].id%>"><i data-feather="eye"></i></a>
                          <a href="/staff/edit/<%=data[i].id%>"><i data-feather="edit-2"></i></a>
                          <a href="/staff/delete/<%=data[i].id%>"><i data-feather="trash-2"></i></a>
                      </td> -->
                  </tr>
                  <% }

                  }else{ %>
                  <tr>
                      <td colspan="3">No user</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

<%- include ../inc/footer.ejs %>
