<%- include ../inc/header.ejs %>

<%- include ../inc/menu.ejs %>


<%- messages('../inc/messages.ejs', locals) %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-bottom: 40px;">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Главная страница</a></li>
              <li class="breadcrumb-item"><a href="/policies">Полисы </a></li>
              <li class="breadcrumb-item"><a href="/insurance/tourism">Туризм</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>
          </nav>  
          <div class="staff-header">
            <h2><%= title %></h2> 
            <a href="/insurance/tourism/add" class="btn btn-add">Добавить клиента</a>
            <a href="/insurance/tourism/clients" class="btn btn-add">Сбросить поиск</a>
          </div>
          <form action="/insurance/tourism/clients/find" method="get">
            <input class="form-control form-control-dark" type="text" placeholder="Введите ФИО, ИИН, телефон ..." aria-label="Search">
          </form>
          <div class="table-responsive">
            <table class="table table-striped table-lg staff">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ФИО</th>
                  <th>Телефон</th>
                  <th>Город</th>
                  <th>Адрес</th>
                  <th>Cумма страхования</th>
                  <th>Стоимость страхования</th>
                  <th>Обслужил</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                <% if(data.length){

                  for(var i = 0;i < data.length;i++) { %>

                  <tr>
                      <td><%=data[i].id%></td>
                      <td><%=data[i].client_fullname%></td>
                      <td><%=data[i].client_phone%></td>
                      <td><%=data[i].client_city%></td>
                      <td><%=data[i].client_address%></td>
                      <td><%=data[i].insurance_sum%></td>
                      <td><%=data[i].insurance_price%></td>
                      <th><%=data[i].m_fullname%></th>
                      <td>
                          <a href="/insurance/tourism/client/show/<%=data[i].id%>"><i data-feather="eye"></i></a>
                          <a href="/insurance/tourism/client/edit/<%=data[i].id%>"><i data-feather="edit-2"></i></a>
                          <a href="/insurance/tourism/client/delete/<%=data[i].id%>"><i data-feather="trash-2"></i></a>
                      </td>
                  </tr>
                  <% }

                  }else{ %>
                  <tr>
                      <td colspan="3">No user</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

<%- include ../inc/footer.ejs %>
