<%- include ../inc/header.ejs %>
<%- include ../inc/menu.ejs %>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Главная страница</a></li>
    <li class="breadcrumb-item"><a href="/policies">Полисы </a></li>
    <li class="breadcrumb-item"><a href="/insurance/kasko">КАСКО</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
  </ol>
</nav>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= title %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12">
            <form action="/insurance/kasko/save" method="post" class="type-form">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>ФИО клиента:</td>
                    <td><input type="text" class="form-control" placeholder="" name="client_fullname"></td>
                  </tr>
                  <tr>
                    <td>Адрес:</td>
                    <td><textarea class="form-control" placeholder="" name="client_address"></textarea></td>
                  </tr>
                  <tr>
                    <td>Телефон:</td>
                    <td><input type="text" class="form-control phone" placeholder="" name="client_phone"></td>
                  </tr>
                  <tr>
                    <td>Электронная почта:</td>
                    <td><input type="email" class="form-control" placeholder="" name="client_email"></td>
                  </tr>
                  <tr>
                    <td>ИИН:</td>
                    <td><input type="text" class="form-control driver_iin iin iin1" placeholder="" name="driver_iin"> <br> <div class="info_driver" style="font-size:15px;color:rgba(115, 127, 173, 0.77);"></div></td>
                    
                  </tr>
                  <tr>
                    <td>Город</td>
                    <td>
                      <select name="client_city" class="form-control" id="">
                        <option value="">Укажите город</option>
                        <option value="Актау">Актау</option>
                        <option value="Актобе">Актобе</option>
                        <option value="Алматы">Алматы</option>
                        <option value="Астана">Астана</option>
                        <option value="Атырау">Атырау</option>
                        <option value="Жезказган">Жезказган</option>
                        <option value="Караганда">Караганда</option>
                        <option value="Кокшетау">Кокшетау</option>
                        <option value="Костанай">Костанай</option>
                        <option value="Кызылорда">Кызылорда</option>
                        <option value="Павлодар">Павлодар</option>
                        <option value="Петропавловск">Петропавловск</option>
                        <option value="Семей">Семей</option>
                        <option value="Талдыкорган">Талдыкорган</option>
                        <option value="Тараз">Тараз</option>
                        <option value="Уральск">Уральск</option>
                        <option value="Усть-Каменогорск">Усть-Каменогорск</option>
                        <option value="Шымкент">Шымкент</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Стаж вождения</td>
                    <td> 
                      <select name="driver_experience" id="" class="form-control stazh1">
                        <option value="">Выберите из списка</option>
                        <option value="0">2 года и более</option>
                        <option value="1">Менее 2 лет</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Возраст застрахованного</td>
                    <td>
                      <select name="driver_age" id="" class="form-control age1">
                        <option value="">Выберите из списка</option>
                        <option value="0">25 лет и старше</option>
                        <option value="1">Менее 25 лет</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Тип ТС</td>
                    <td> 
                      <select name="car_type" id="" class="form-control type1">
                        <option value="">Выберите тип ТС</option>
                        <option value="0">Легковой автомобиль</option>
                        <option value="1">Автобусы до 16 мест</option>
                        <option value="2">Автобусы более 16 мест</option>
                        <option value="3">Грузовые</option>
                        <option value="4">Троллейбусы, трамваи</option>
                        <option value="5">Мототранспорт</option>
                        <option value="6">Прицепы (полуприцепы)</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Город регистрации ТС</td>
                    <td>
                      <select name="car_city" id="" class="form-control reg1 ter">
                        <option value="0" selected="selected">Алматы</option>
                        <option value="1">Астана</option>
                        <option value="151">Актау (Жанаозень)</option>
                        <option value="111">Актобе</option>
                        <option value="141">Атырау</option>
                        <option value="61">Караганда (Сарань, Шахтинск, Каражал)</option>
                        <option value="81">Кокшетау (Степногорск)</option>
                        <option value="51">Костанай (Рудный, Лисаковск, Аркалык)</option>
                        <option value="131">Кызылорда (Байконур)</option>
                        <option value="91">Павлодар (Аксу)</option>
                        <option value="71">Петропавловск</option>
                        <option value="21">Талдыкорган (Капчагай,Текели)</option>
                        <option value="101">Тараз</option>
                        <option value="121">Уральск</option>
                        <option value="41">Усть-Каменогорск (Семей,Риддер,Курчатов)</option>
                        <option value="31">Шымкент (Арысь, Кентау)</option>
                        <option value="171">Экибастуз</option>
                        <option value="2">Алматинская область</option>
                        <option value="3">Южно-Казахстанская область</option>
                        <option value="4">Восточно-Казахстанская область</option>
                        <option value="5">Костанайская область</option>
                        <option value="6">Карагандинская область</option>
                        <option value="7">Северо-Казахстанская область</option>
                        <option value="8">Акмолинская область</option>
                        <option value="9">Павлодарская область</option>
                        <option value="10">Жамбылская область</option>
                        <option value="11">Актюбинская область</option>
                        <option value="12">Западно-Казахстанская область</option>
                        <option value="13">Кызылординская область</option>
                        <option value="14">Атырауская область</option>
                        <option value="15">Мангистауская область</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Год выпуска ТС</td>
                    <td>
                      <select name="car_year" id="" class="form-control srok1">
                        <option value="">Выберите год выпуска</option>
                        <option value="0" selected>до 7 лет</option>
                        <option value="1">более 7 лет</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Гос.номер ТС:</td>
                    <td><input type="text" name="car_number" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Номер кузова (VIN):</td>
                    <td><input type="text" name="car_vin" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Способ оплаты</td>
                    <td>
                      <select name="payment_type" id="" class="form-control">
                        <option value="">Выберите из списка</option>
                        <option value="Оформить в офисе">Оформить в офисе</option>
                        <option value="Наличными при получении курьеру">Наличными при получении курьеру</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group">
                        <a href="javascript:calcAuto()" class="form-control btn btn-add">Узнать стоимость</a>
                        <div class="result"> Стоимость полиса - 0 тг. </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Сумма страхования</td>
                    <td><div class="send"></div></td>
                  </tr>

                </tbody>
              </table>
               <a href="/staff" class="btn btn-back">К списку</a>
              <input type="submit" class="btn btn-add" value="Добавить"></a>
            </form>
          </div>
         
          
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ../inc/footer.ejs %>
