<%- include ../inc/header.ejs %>
<%- include ../inc/menu.ejs %>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Главная страница</a></li>
      <li class="breadcrumb-item"><a href="/policies">Полисы </a></li>
      <li class="breadcrumb-item"><a href="/insurance/kasko">КАСКО</a></li>
      <li class="breadcrumb-item"><a href="/insurance/kasko/clients">Список клиентов по КАСКО</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= title %> - <%= data[0].client_fullname %></li>
    </ol>
  </nav>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= title %> - <%= data[0].client_fullname %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12">
            <form action="/insurance/kasko/client/update/<%= data[0].id %>" method="post" class="type-form">
              <table class="table table-user-information">
                <tbody>
                  <input type="hidden" value="<%= data[0].created_at %>" name="created_at">
                  <tr>
                    <td>ФИО клиента:</td>
                    <td><input type="text" class="form-control" placeholder="" name="client_fullname" value="<%= data[0].client_fullname %>"></td>
                  </tr>
                  <tr>
                    <td>Адрес:</td>
                    <td><textarea class="form-control" placeholder="" name="client_address"><%= data[0].client_address %></textarea></td>
                  </tr>
                  <tr>
                    <td>Телефон:</td>
                    <td><input type="text" class="form-control phone" placeholder="" name="client_phone" value="<%= data[0].client_phone %>"></td>
                  </tr>
                  <tr>
                    <td>Электронная почта:</td>
                    <td><input type="email" class="form-control" placeholder="" name="client_email" value="<%= data[0].client_email %>"></td>
                  </tr>
                  <tr>
                    <td>ИИН:</td>
                    <td><input type="text" class="form-control driver_iin iin iin1" placeholder="" name="driver_iin" value="<%= data[0].driver_iin %>"><br><div class="info_driver" style="font-size:15px;color:rgba(115, 127, 173, 0.77);"></div></td>
                  </tr>
                  <tr>
                    <td>Город</td>
                    <td>
                      <select name="client_city" class="form-control" id="">
                         <option value="">Укажите город</option>
                        <option value="Актау" <% if(data[0].client_city == 'Актау'){%> selected <%} %> >Актау</option>
                        <option value="Актобе"  <% if(data[0].client_city == 'Актобе'){%> selected <%} %> >Актобе</option>
                        <option value="Алматы"  <% if(data[0].client_city == 'Алматы'){%> selected <%} %> >Алматы</option>
                        <option value="Астана"  <% if(data[0].client_city == 'Астана'){%> selected <%} %> >Астана</option>
                        <option value="Атырау"  <% if(data[0].client_city == 'Атырау'){%> selected <%} %> >Атырау</option>
                        <option value="Жезказган"  <% if(data[0].client_city == 'Жезказган'){%> selected <%} %> >Жезказган</option>
                        <option value="Караганда"  <% if(data[0].client_city == 'Караганда'){%> selected <%} %> >Караганда</option>
                        <option value="Кокшетау"  <% if(data[0].client_city == 'Кокшетау'){%> selected <%} %> >Кокшетау</option>
                        <option value="Костанай"  <% if(data[0].client_city == 'Костанай'){%> selected <%} %> >Костанай</option>
                        <option value="Кызылорда"  <% if(data[0].client_city == 'Кызылорда'){%> selected <%} %> >Кызылорда</option>
                        <option value="Павлодар"  <% if(data[0].client_city == 'Павлодар'){%> selected <%} %> >Павлодар</option>
                        <option value="Петропавловск"  <% if(data[0].client_city == 'Петропавловск'){%> selected <%} %> >Петропавловск</option>
                        <option value="Семей"  <% if(data[0].client_city == 'Семей'){%> selected <%} %> >Семей</option>
                        <option value="Талдыкорган"  <% if(data[0].client_city == 'Талдыкорган'){%> selected <%} %> >Талдыкорган</option>
                        <option value="Тараз"  <% if(data[0].client_city == 'Тараз'){%> selected <%} %> >Тараз</option>
                        <option value="Уральск"  <% if(data[0].client_city == 'Уральск'){%> selected <%} %> >Уральск</option>
                        <option value="Усть-Каменогорск"  <% if(data[0].client_city == 'Каменогорск'){%> selected <%} %> >Усть-Каменогорск</option>
                        <option value="Шымкент"  <% if(data[0].client_city == 'Шымкент'){%> selected <%} %> >Шымкент</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Стаж вождения</td>
                    <td>
                      <select name="driver_experience" id="" class="form-control stazh1">
                        <%if(data[0].driver_experience == '2 года и более'){%>
                          <option value="0" selected="selected">2 года и более</option>
                          <option value="1">Менее 2 лет</option>
                        <%} else {%>
                        <option value="1" selected="selected">Менее 2 лет</option>
                        <option value="0">2 года и более</option>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Возраст застрахованного</td>
                    <td>
                      <select name="driver_age" id="" class="form-control age1">
                        <%if(data[0].driver_age == '25 лет и старше'){%>
                          <option value="0" selected="selected">25 лет и старше</option>
                          <option value="1">Менее 25 лет</option>
                        <%} else {%>
                          =<option value="1" selected="selected">Менее 25 лет</option>
                          <option value="0">25 лет и старше</option>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Тип ТС</td>
                    <td>
                      <select name="car_type" id="" class="form-control type1">
                        <option value="">Выберите тип ТС</option>
                        <option value="0" <% if(data[0].car_type == '0'){%> selected <%} %> >Легковой автомобиль</option>
                        <option value="1" <% if(data[0].car_type == '1'){%> selected <%} %> >Автобусы до 16 мест</option>
                        <option value="2" <% if(data[0].car_type == '2'){%> selected <%} %> >Автобусы более 16 мест</option>
                        <option value="3" <% if(data[0].car_type == '3'){%> selected <%} %> >Грузовые</option>
                        <option value="4" <% if(data[0].car_type == '4'){%> selected <%} %> >Троллейбусы, трамваи</option>
                        <option value="5" <% if(data[0].car_type == '5'){%> selected <%} %> >Мототранспорт</option>
                        <option value="6" <% if(data[0].car_type == '6'){%> selected <%} %> >Прицепы (полуприцепы)</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Город регистрации ТС</td>
                    <td>
                      <select name="car_city" id="" class="form-control reg1 ter">
                        <option value="0" <% if(data[0].car_city == '0'){%> selected <%} %>>Алматы</option>
                        <option value="1" <% if(data[0].car_city == '1'){%> selected <%} %> >Астана</option>
                        <option value="151" <% if(data[0].car_city == '151'){%> selected <%} %> >Актау (Жанаозень)</option>
                        <option value="111" <% if(data[0].car_city == '111'){%> selected <%} %> >Актобе</option>
                        <option value="141" <% if(data[0].car_city == '141'){%> selected <%} %> >Атырау</option>
                        <option value="61" <% if(data[0].car_city == '61'){%> selected <%} %> >Караганда (Сарань, Шахтинск, Каражал)</option>
                        <option value="81" <% if(data[0].car_city == '81'){%> selected <%} %> >Кокшетау (Степногорск)</option>
                        <option value="51" <% if(data[0].car_city == '51'){%> selected <%} %> >Костанай (Рудный, Лисаковск, Аркалык)</option>
                        <option value="131" <% if(data[0].car_city == '131'){%> selected <%} %> >Кызылорда (Байконур)</option>
                        <option value="91" <% if(data[0].car_city == '91'){%> selected <%} %> >Павлодар (Аксу)</option>
                        <option value="71" <% if(data[0].car_city == '71'){%> selected <%} %> >Петропавловск</option>
                        <option value="21" <% if(data[0].car_city == '21'){%> selected <%} %> >Талдыкорган (Капчагай,Текели)</option>
                        <option value="101" <% if(data[0].car_city == '101'){%> selected <%} %> >Тараз</option>
                        <option value="121" <% if(data[0].car_city == '121'){%> selected <%} %> >Уральск</option>
                        <option value="41" <% if(data[0].car_city == '41'){%> selected <%} %> >Усть-Каменогорск (Семей,Риддер,Курчатов)</option>
                        <option value="31" <% if(data[0].car_city == '31'){%> selected <%} %>>Шымкент (Арысь, Кентау)</option>
                        <option value="171" <% if(data[0].car_city == '171'){%> selected <%} %>>Экибастуз</option>
                        <option value="2" <% if(data[0].car_city == '2'){%> selected <%} %> >Алматинская область</option>
                        <option value="3" <% if(data[0].car_city == '3'){%> selected <%} %>>Южно-Казахстанская область</option>
                        <option value="4" <% if(data[0].car_city == '4'){%> selected <%} %> >Восточно-Казахстанская область</option>
                        <option value="5" <% if(data[0].car_city == '5'){%> selected <%} %> >Костанайская область</option>
                        <option value="6" <% if(data[0].car_city == '6'){%> selected <%} %>>Карагандинская область</option>
                        <option value="7" <% if(data[0].car_city == '8'){%> selected <%} %>>Северо-Казахстанская область</option>
                        <option value="8" <% if(data[0].car_city == '9'){%> selected <%} %>>Акмолинская область</option>
                        <option value="9" <% if(data[0].car_city == '9'){%> selected <%} %>>Павлодарская область</option>
                        <option value="10" <% if(data[0].car_city == '10'){%> selected <%} %>>Жамбылская область</option>
                        <option value="11" <% if(data[0].car_city == '11'){%> selected <%} %>>Актюбинская область</option>
                        <option value="12" <% if(data[0].car_city == '12'){%> selected <%} %>>Западно-Казахстанская область</option>
                        <option value="13" <% if(data[0].car_city == '13'){%> selected <%} %>>Кызылординская область</option>
                        <option value="14" <% if(data[0].car_city == '14'){%> selected <%} %>>Атырауская область</option>
                        <option value="15" <% if(data[0].car_city == '15'){%> selected <%} %>>Мангистауская область</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Год выпуска ТС</td>
                    <td>
                      <select name="car_year" id="" class="form-control srok1">
                        <%if(data[0].car_year == 0){%>
                          <option value="0" selected>до 7 лет</option>
                          <option value="1">более 7 лет</option>
                        <%} else {%>
                          <option value="1" selected>более 7 лет</option>
                          <option value="0">до 7 лет</option>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Гос.номер ТС:</td>
                    <td><input type="text" name="car_number" class="form-control" value="<%= data[0].car_number %>"></td>
                  </tr>
                  <tr>
                    <td>Номер кузова (VIN):</td>
                    <td><input type="text" name="car_vin" class="form-control" value="<%= data[0].car_vin %>"></td>
                  </tr>
                  <tr>
                    <td>Способ оплаты</td>
                    <td>
                      <select name="payment_type" id="" class="form-control">
                        <%if(data[0].payment_type == 'В офисе'){%>
                          <option value="Оформить в офисе" selected>Оформить в офисе</option>
                          <option value="Наличными при получении курьеру">Наличными при получении курьеру</option>
                        <%} else {%>
                          <option value="Наличными при получении курьеру" selected>Наличными при получении курьеру</option>
                          <option value="Оформить в офисе">Оформить в офисе</option>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group">
                         <a href="javascript:calcAuto()" class="form-control btn btn-add">Узнать стоимость</a>
                        <div class="result"> Стоимость полиса - 0 тг. </div>

                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Сумма страхования</td>
                    <td><div class="send"></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Статус заявки</td>
                    <td>
                      <select name="status" id="" class="form-control">
                        <%if(data[0].status == '0'){%>
                          <option value="0" selected>Установлен статус - Новая заявка</option>
                          <option value="1">Установить статус - В процессе</option>
                          <option value="3">Установить статус - Отклонен</option>
                        <%} else if(data[0].status == '1') {%>
                          <option value="1" selected>Установлен статус - В процессе</option>
                          <option value="2">Установить статус - Завершен</option>
                          <option value="3">Установить статус - Отклонен</option>
                        <%} else if(data[0].status == '2' || data[0].status == '3'){%>
                          <p>Статус не выставляется</p>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                </tbody>
                </table>
               <a href="/staff" class="btn btn-back">К списку</a>
              <input type="submit" class="btn btn-add" value="Сохранить"></a>
            </form>
          </div>
         
      
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ../inc/footer.ejs %>
