<%- include ../inc/header.ejs %>
<%- include ../inc/menu.ejs %>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Главная страница</a></li>
      <li class="breadcrumb-item"><a href="/policies">Полисы </a></li>
      <li class="breadcrumb-item"><a href="/insurance/goods">Недвижимость</a></li>
      <li class="breadcrumb-item"><a href="/insurance/goods/clients">Список клиентов по полису - Недвижимость</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= title %> - <%= data[0].client_fullname %></li>
    </ol>
  </nav>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= title %> - <%= data[0].client_fullname %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12">
              <form action="/insurance/goods/client/update/<%=data[0].id%>" method="post" class="type-form">
              <table class="table table-user-information">
                <tbody>
                  <input type="hidden" value="<%= data[0].created_at %>" name="created_at">
                  <tr>
                    <td>ФИО клиента:</td>
                    <td><input type="text" class="form-control" placeholder="" name="client_fullname" value="<%= data[0].client_fullname %>"></td>
                  </tr>
                  <tr>
                    <td>Адрес:</td>
                    <td><textarea class="form-control" placeholder="" name="client_address"><%= data[0].client_address %></textarea></td>
                  </tr>
                  <tr>
                    <td>Телефон:</td>
                    <td><input type="text" class="form-control phone" placeholder="" name="client_phone" value="<%=data[0].client_phone%>"></td>
                  </tr>
                  <tr>
                    <td>Электронная почта:</td>
                    <td><input type="email" class="form-control" placeholder="" name="client_email" value="<%= data[0].client_email %>"></td>
                  </tr>
                  <tr>
                    <td>Город</td>
                    <td>
                      <select name="client_city" class="form-control" id="">
                        <option value="">Укажите город</option>
                        <option value="Актау" <% if(data[0].client_city == 'Актау'){%> selected <%} %> >Актау</option>
                        <option value="Актобе"  <% if(data[0].client_city == 'Актобе'){%> selected <%} %> >Актобе</option>
                        <option value="Алматы"  <% if(data[0].client_city == 'Алматы'){%> selected <%} %> >Алматы</option>
                        <option value="Астана"  <% if(data[0].client_city == 'Астана'){%> selected <%} %> >Астана</option>
                        <option value="Атырау"  <% if(data[0].client_city == 'Атырау'){%> selected <%} %> >Атырау</option>
                        <option value="Жезказган"  <% if(data[0].client_city == 'Жезказган'){%> selected <%} %> >Жезказган</option>
                        <option value="Караганда"  <% if(data[0].client_city == 'Караганда'){%> selected <%} %> >Караганда</option>
                        <option value="Кокшетау"  <% if(data[0].client_city == 'Кокшетау'){%> selected <%} %> >Кокшетау</option>
                        <option value="Костанай"  <% if(data[0].client_city == 'Костанай'){%> selected <%} %> >Костанай</option>
                        <option value="Кызылорда"  <% if(data[0].client_city == 'Кызылорда'){%> selected <%} %> >Кызылорда</option>
                        <option value="Павлодар"  <% if(data[0].client_city == 'Павлодар'){%> selected <%} %> >Павлодар</option>
                        <option value="Петропавловск"  <% if(data[0].client_city == 'Петропавловск'){%> selected <%} %> >Петропавловск</option>
                        <option value="Семей"  <% if(data[0].client_city == 'Семей'){%> selected <%} %> >Семей</option>
                        <option value="Талдыкорган"  <% if(data[0].client_city == 'Талдыкорган'){%> selected <%} %> >Талдыкорган</option>
                        <option value="Тараз"  <% if(data[0].client_city == 'Тараз'){%> selected <%} %> >Тараз</option>
                        <option value="Уральск"  <% if(data[0].client_city == 'Уральск'){%> selected <%} %> >Уральск</option>
                        <option value="Усть-Каменогорск"  <% if(data[0].client_city == 'Каменогорск'){%> selected <%} %> >Усть-Каменогорск</option>
                        <option value="Шымкент"  <% if(data[0].client_city == 'Шымкент'){%> selected <%} %> >Шымкент</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Суммая страхования:</td>
                    <td><input class="sc3 form-control" name="sc3" value="<%= data[0].given_sum %>"></td>
                  </tr>
                  <tr>
                    <td>Объект страхования:</td>
                    <td><select name="sc1" class="sc1 form-control" id="">
                      <option value="0" <% if(data[0].goods_type == '0'){%> selected <%} %> >Квартира</option>
                      <option value="1" <% if(data[0].goods_type == '1'){%> selected <%} %> >Частный дом</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td>Риски: </td>
                    <td>
                      <%= data[0].risk_type %> <br> <a class="btn btn-sm" onclick="$('#risks').slideToggle('slow');" href="javascript://">Изменить</a>
                      <div id="risks" style="display:none;">
                        <label class="container"> Огонь (пожар, авария, электросети)
                        <input type="checkbox" name="r1" id="r1" class="r1 ri" value="Огонь (пожар, авария, электросети)">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Залив
                        <input type="checkbox" name="r2" id="r2" class="r2 ri" value="Залив">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Повреждение
                        <input type="checkbox" name="r3" id="r3" class="r3 ri" value="Повреждение">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Стихийные бедствия
                        <input type="checkbox" name="r4" id="r4" class="r4 ri" value="Стихийные бедствия">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Противоправные действия третьих лиц
                        <input type="checkbox" name="r5" id="r5" class="r5 ri" value="Противоправные действия третьих лиц">
                        <span class="checkmark"></span>
                      </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Способ оплаты</td>
                    <td>
                      <select name="payment_type" id="" class="form-control">
                         <%if(data[0].payment_type == 'В офисе'){%>
                          <option value="Оформить в офисе" selected>Оформить в офисе</option>
                          <option value="Наличными при получении курьеру">Наличными при получении курьеру</option>
                        <%} else {%>
                          <option value="Наличными при получении курьеру" selected>Наличными при получении курьеру</option>
                          <option value="Оформить в офисе">Оформить в офисе</option>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group">
                        <a href="javascript:calcGoods()" class="form-control btn btn-add">Узнать стоимость</a>
                        <div class="result"> Стоимость полиса - 0 тг. </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Сумма страхования</td>
                    <td><div class="send"></div></td>
                  </tr>
                  <tr>
                    <td>Статус заявки</td>
                    <td>
                      <select name="status" id="" class="form-control">
                        <%if(data[0].status == '0'){%>
                          <option value="0" selected>Установлен статус - Новая заявка</option>
                          <option value="1">Установить статус - В процессе</option>
                          <option value="3">Установить статус - Отклонен</option>
                        <%} else if(data[0].status == '1') {%>
                          <option value="1" selected>Установлен статус - В процессе</option>
                          <option value="2">Установить статус - Завершен</option>
                          <option value="3">Установить статус - Отклонен</option>
                        <%} else if(data[0].status == '2' || data[0].status == '3'){%>
                          <p>Статус не выставляется</p>
                        <%} %>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
               <a href="/staff" class="btn btn-back">К списку</a>
              <input type="submit" class="btn btn-add" value="Редактировать"></a>
            </form>
          </div>
         
          
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ../inc/footer.ejs %>
